<%- include("../partials/header", { title: "Page d'inscription", style: "auth" }) %>
    <h1>Page d'inscription</h1>
    <form class="form" action="" method="POST">
      <%- include("../components/input",  { name: "username", type: "text" }) %>
      <%- include("../components/input",  { name: "email", type: "email" }) %>
      <%- include("../components/input",  { name: "password", type: "password" }) %>
      <button type="submit">Inscription</button>
    </form>
 <%- include("../partials/footer") %>